<h1>Working!</h1>

<div class="listings-container">
    <% for listing in @listings %>
        <div class="listing-container">
            <%= listing.title %>
            <br>
            <%= listing.message %>
            <br>
            <%= link_to "edit", edit_listing_path(listing.id) if current_user.id == listing.user_id %>
        </div>
    <% end %>
</div>

<span>Listing count: <%= @listings.count %></span>